/* src/components/Footer.css */

.footer {
    background-color: #2b2b2b;
    /* Dark grey background */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

.footer p {
    margin: 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: white;
}